h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {

  
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  

  
}

// .container {
//   @include mq(mobilemin){
//     width: 320px;
//   }

//   @include mq(mobile-only){
//     width: 480px;
//   }
//   @include mq(tablet-only){
//     width: 768px;
//   }
// }


a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: var(--main-font--);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-color--);
  padding-top: 80px;
  @include mq(mobile-only){
    padding-top: 61px;
  }
}