:root {
    --main-font--: Roboto, sans-serifi;
    --secondary-font: Raleway, sans-serifi;
  
    /* text colors */
    --main-txt-color--: rgba(117, 117, 117, 1);
    --secondary-txt-color1--: #212121;
    --sekondari-txt-color2--: #ffffff;
    --accent-txt-color--: #2196f3;
    --studio-txt-color--: #000000;
  
    /* bacground colors */
    --wite-bg-color--: #ffffff;
    --hero-footer-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
  }

 