//   batton

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--sekondari-txt-color2--);
    background-color: var(--accent-txt-color--);
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
    &--footer {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq(mobile-only){
        margin-right: auto;
        margin-left: auto;
      }
      @include mq(tablet-only){
        margin-right: auto;
        margin-left: auto;
      }
      
    }
  
    &__icon {
      margin-left: 10px;
    }
  }