// logo
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-color--);
    margin-right: 100px;
    @include mq(tablet-only){
      margin-right: 88px;
      
      }
    
     @include mq(mobile-only){
        margin-right: 0;}

     @include mq(tablet-only){
      margin-right: 0;
     }
        



    &__studio {
      color: var(--studio-txt-color--);
    }
    &__studio--footer {
      color: var(--sekondari-txt-color2--);
    }
  }