// hero

.hero {
  background-color: var(--hero-footer-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero1600.png);

  @include mq(mobile) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero480.png);
    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero960.png);
    }
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero768.png);
    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero1536.png);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero1600.png);
    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero3200.png);
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile-only) {
    padding-top: 118px;
    padding-bottom: 118px;

    height: 400px;
  }
  @include mq(tablet-only) {
    padding-top: 118px;
    padding-bottom: 118px;

    height: 400px;
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--sekondari-txt-color2--);
    margin-bottom: 30px;

    @include mq(mobile-only) {
      font-size: 26px;
      line-height: 1.62;

      text-align: center;
    }
    @include mq(tablet-only) {
      font-size: 26px;
      line-height: 1.62;

      text-align: center;
    }
  }
}

// .hero-container {
//   @include mq(mobilemin){
//     width: 320px;
//   }

//   @include mq(mobile-only){
//     width: 480px;

//   }
//   @include mq(tablet-only){
//     width: 768px;}

// }
