// profession

.profession {
  padding-bottom: 94px;
  @include mq(mobile-only){
    display: none;
    
  }
  @include mq(tablet-only){
    display: none;
    
    
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-color1--);
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;
    margin-right: 30px;
  }

  &__item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
  }

  &__text {
    position: absolute;

    bottom: 27px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--sekondari-txt-color2--);
    z-index: 2;
  }

  &__item:last-child {
    margin-right: 0;
  }
}
